/**
* Post Grid Editor Styles
*
* CSS for both Frontend+Backend.
*/

// $columns: 3;
.gmfgb-pg-grid {
	margin: 0 -10px;
	position: relative;
	// @media (min-width: 992px) {
	// 	@for $i from 1 through $columns {
	// 		&.grid-size-#{$i} {
	// 			.wp-block-post {
	// 				width: calc((100% / $i) - ((60px * ($i - 1)) / $i));
	// 			}
	// 		}
	// 	}
	// }

	// @media (min-width: 767px) and (max-width: 991px) {
	// 	.wp-block-post {
	// 		width: 50%;
	// 	}
	// }

	// @media (min-width: 320px) and (max-width: 766px) {
	// 	.wp-block-post {
	// 		width: 100%;
	// 	}
	// }

	// .wp-block-post {
	// 	padding: 30px;
	// 	margin: 0;
	// }

	.wp-block-post-excerpt__more-text {
		display: none !important;
	}

	.gmfgb-pg-wrap {
		position: relative;
		height: 100%;
        margin: 0 !important;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background-image: linear-gradient(
				to bottom,
				rgba(20, 20, 20, 0.5),
				rgba(20, 20, 20, 0.7)
			);
			border-radius: 20px;
			overflow: hidden;
			z-index: 0;
		}
	}

	.gmfgb-pg-content {
		z-index: 1;
		position: relative;
	}

	.wp-block-group__inner-container {
		// position: relative;
	}
	.gmfgb-pg-featured-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		overflow: hidden;
		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
			object-position: center;
		}
	}
	.gmfgb-pg-date-wrap {
		.wp-block-post-author,
		.gmfgb-pg-date {
			margin: 0;
		}
		.wp-block-group__inner-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 20px;
            padding: 0 !important;
		}
		.wp-block-post-author {
            align-items: center;
			&__avatar {
				width: 16px;
                display: flex;
			}
			&__content {
				color: #fff;
			}
			img {
				max-width: 100%;
                max-height: 16px;
                object-fit: contain;
			}
		}
	}
	.gmfgb-pg-link {
		&:focus,
		&:hover {
			background: transparent !important;
		}
	}

	.wp-block-post-excerpt__excerpt {
		line-height: 1.2;
	}

	// .gmfgb-pg-loop-wrap {
	// 	padding-bottom: 40px;
	// }

	.post-pagination {
		position: relative;
		top: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;

		.wp-block-query-pagination-numbers {
			display: flex;
			align-items: center;
			margin: 0;
		}

		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next,
		.page-numbers {
			display: flex;
			align-items: center;
			margin: 0 5px;
			padding: 5px 10px;
			background-color: #424242;
			color: #fff;
			font-weight: 400;
			border-radius: 12px;
			min-width: 40px;
			text-align: center;
			display: block;
			text-decoration: none;

			&.current,
			&:focus,
			&:hover {
				background-color: #000 !important;
			}
		}
	}

	// .gmfgb-pg-loop-wrap {
	// 	ul {
	// 		display: flex !important;
	// 		flex-wrap: wrap;
	// 		margin-bottom: 20px !important;
	// 	}
	// }

	@media (min-width: 640px) and (max-width: 992px) {
		.wp-block-post {
			width: 50%;
		}
	}
	@media (max-width: 640px) {
		.wp-block-post {
			width: 100%;
		}
	}
}
