/**
* Post Grid Editor Styles
*
* CSS for just Backend enqueued after style.scss
* which makes it higher in priority.
*/

.gmfgb-mg-grid {
	display: flex;
	flex-wrap: wrap !important;
	gap: 20px;
	padding: 0 !important;
	.gmfgb-mg-button {
		display: block;
		min-height: 320px !important;
		border-radius: 20px;
		overflow: hidden;
		background-color: transparent;
		border: 2px solid #000;
		transition: 0.5s ease all;
		&:hover {
			background-color: inherit;
			svg {
				fill: white !important;
			}
		}
	}
}
@media (min-width: 561px) and (max-width: 767px) {
	.gmfgb-mg-media,
	.gmfgb-mg-button,
	.gmfgb-mg-wrap {
		width: calc(33.33% - 13.33px);
		margin-bottom: 20px;
	}
}

.gmfgb-mg-wrap {
	position: relative;
	padding-top: 100px;
	min-height: 220px;
	.change-image {
		background-color: #ffffff;
		color: #ff0000;
		position: absolute;
		top: 10px;
		right: 53px;
		z-index: 6;
		margin: 0;
		line-height: 0;
		opacity: 0;
		visibility: hidden;
		width: 28px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;

		svg {
			width: 20px;
		}
	}
	.remove-item {
		background-color: #ffffff;
		color: #ff0000;
		position: absolute;
		top: 10px;
		right: 18px;
		z-index: 6;
		opacity: 0;
		visibility: hidden;
		padding: 5px 5px !important;
	}
	.upload-video-btn {
		padding: 0;
		height: 30px;
		position: absolute;
		right: 0;
		top: 0px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&:hover,
	&:focus,
	&:active {
		.gmfgb-mg-content,
		.change-image,
		.remove-item {
			opacity: 1;
			visibility: visible;
		}
	}
}

.gmfgb-mg-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 94%;
	height: 100%;
	// border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		object-position: center;
	}
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		// background-color: rgba(0, 0, 0, 0.36);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
	}
}

.gmfgb-mg-content .gmfgb-mg-image-caption {
	position: relative;
	z-index: 4;
}

.gmfgb-mg-video {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0;
	border: 1px solid #949494;
	position: relative;
	height: 30px;
	overflow: hidden;
	span {
		font-size: 14px;
		padding: 3px 8px;
		color: #fff;
		display: block;
		padding-right: 41px;
		height: 100%;
		padding-top: 4px;
		max-height: 22px;
		overflow: hidden;
		line-height: 1.7;
	}
	svg {
		width: 20px;
		height: 20px;
		padding-right: 10px;
		fill: white;
	}
}
.gmfgb-mg-content {
	box-sizing: border-box;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 1;
	// visibility: hidden;
	label {
		display: none;
	}
	input[type="text"],
	textarea {
		background-color: rgba(255, 255, 255, 0.2);
		color: #ffffff;
		height: 50px;
		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: #ffffff;
			opacity: 1;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			color: #ffffff;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: #ffffff;
			opacity: 1;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			color: #ffffff;
			opacity: 1;
		}
		&:focus {
			background-color: rgba(255, 255, 255, 1);
			color: #000000;
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: #000000;
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #000000;
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: #000000;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: #000000;
			}
		}
	}
}

.custom-label {
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}
.color {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}

.gmfgb-mg-wrap.top .gmfgb-mg-content {
	position: absolute;
	top: 32px;
	left: 0;
}
.gmfgb-mg-wrap.center .gmfgb-mg-content {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}
.gmfgb-mg-wrap.bottom .gmfgb-mg-content {
	position: absolute;
	bottom: 0;
	left: 0;
}

.aligncenter {
	align-items: center;
}
.block-editor-block-list__layout [class^="components-"] {
	z-index: 4;
}
.gmfgb-mg-video,
.gmfgb-mg-popup-video {
	position: relative;
	z-index: 4;
}

.captionSelect .components-h-stack {
	flex-direction: row;
}
.captionSelect .components-radio-control__option {
	width: 33.33%;
}
.captionSelect
	.components-h-stack
	.components-radio-control__option
	input[type="radio"] {
	display: none;
}
.captionSelect label.components-radio-control__label {
	padding: 8px;
	border: 1px solid #39687c;
	width: 100%;
	text-align: center;
}
.captionSelect label.components-radio-control__label:hover {
	color: #39687c !important;
}

.captionSelect
	.components-radio-control__option
	input[type="radio"]:checked
	+ label {
	background-color: #39687c !important;
	color: #fff;
}
.captionSelect
	.components-radio-control__option
	input[type="radio"]:checked
	+ label:hover {
	color: #fff !important;
}
