/**
* Post Grid Editor Styles
*
* CSS for just Backend enqueued after style.scss
* which makes it higher in priority.
*/

.gmfgb-mg-grid {
	display: flex;
	flex-wrap: wrap !important;
	gap: 20px;
    padding: 0 !important;
	.gmfgb-mg-button {
		display: block;
		min-height: 320px !important;
		border-radius: 20px;
		overflow: hidden;
		background-color: transparent;
		border: 2px solid #000;
		transition: 0.5s ease all;
		&:hover {
			background-color: inherit;
			svg {
				fill: white !important;
			}
		}
	}
}

.gmfgb-mg-wrap {
	position: relative;
	padding-top: 100px;
	min-height: 220px;
	.change-image {
		background-color: #ffffff;
		color: #ff0000;
		position: absolute;
		top: 10px;
		right: 70px;
		z-index: 1;
		margin: 0;
		line-height: 0;
		opacity: 0;
		visibility: hidden;
		width: 44px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;

		svg {
			width: 20px;
		}
	}
	.remove-item {
		background-color: #ffffff;
		color: #ff0000;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
	}
	.upload-video-btn {
		padding: 0;
		height: 30px;
		position: absolute;
		right: 0;
		top: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
	}
	&:hover,
    &:focus,
    &:active {
		.gmfgb-mg-content,
		.change-image,
		.remove-item {
			opacity: 1;
			visibility: visible;
		}
	}
}

.gmfgb-mg-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		object-position: center;
	}
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		// background-color: rgba(0, 0, 0, 0.36);
		position: absolute;
		left: 0;
		top: 0;
	}
}

.gmfgb-mg-video {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0;
	border: 1px solid #949494;
	position: relative;
    height: 30px;
    overflow: hidden;
    span {
        font-size: 13px;
        padding: 3px 8px;
        color: #fff;
        display: block;
    }
	svg {
		width: 40px;
		height: 24px;

		fill: white;
	}
}
.gmfgb-mg-content {
	box-sizing: border-box;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	label {
		display: none;
	}
	input[type="text"],
	textarea {
		background-color: rgba(255, 255, 255, 0.2);
		color: #ffffff;
		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: #ffffff;
			opacity: 1;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			color: #ffffff;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: #ffffff;
			opacity: 1;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			color: #ffffff;
			opacity: 1;
		}
		&:focus {
			background-color: rgba(255, 255, 255, 1);
			color: #000000;
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: #000000;
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #000000;
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: #000000;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: #000000;
			}
		}
	}
}

.custom-label {
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}
.color {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}