/**
* Post Grid Editor Styles
*
* CSS for both Frontend+Backend.
*/

$columns: 5;
.ggm-mg-grid {
	display: flex;
	margin: 0;
	font-size: 0;
	position: relative;
	@media (min-width: 768px) {
		@for $i from 1 through $columns {
			&.grid-size-#{$i} {
				.ggm-mg-media,
				.ggm-mg-button,
				.ggm-mg-wrap {
					width: calc((100% / $i) - ((20px * ($i - 1)) / $i));
					margin-bottom: 20px;
				}
			}
		}
	}

	@media (min-width: 561px) and (max-width: 767px) {
		.ggm-mg-media,
		.ggm-mg-button,
		.ggm-mg-wrap {
			width: calc(33.33% - 13.33px);
			margin-bottom: 20px;
		}
	}

	@media (min-width: 320px) and (max-width: 560px) {
		.ggm-mg-media,
		.ggm-mg-button,
		.ggm-mg-wrap {
			width: calc(50% - 10px);
			margin-bottom: 20px;
		}
	}
}

.ggm-fancy-custom {
	.fancybox-video,
	.fancybox-image {
		position: static !important;
	}
}

.image-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
	font-size: 16px;
	color: #fff;
	border-radius: 20px;
}
.ggm-mg-media {
	padding: 0;
	box-sizing: border-box;
	font-size: 0;
	border-radius: 20px;
	overflow: hidden;
	svg {
		background: #ffffff;
		padding: 5px;
		position: absolute;
		top: 20px;
		left: 20px;
		border-radius: 100px;
	}
}
