/**
 * Testimonials Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-styles-wrapper {
	.utk-testi-block {
		.utk-testi-author-location {
			margin-top: 0;
		}
		.utk-testi-description,
		.utk-testi-star,
		.utk-testi-author-name {
			margin-top: 10px;
		}
	}
}

.utk-slider-settings {
	.components-panel__row {
		label{
			max-width: 100%;
		}
	}
}
